.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
}
.container {
    height: 100vh;
    & .background-img {
        height: 38%;
        background-image: url("images/pattern-bg-mobile.png");
        background-size: cover;
        position: absolute;
        width: 100vw;
        z-index: -1;

        @media (min-width: 376px) {
            background-image: url("images/pattern-bg-desktop.png");
        }

    }

    & h1 {
        margin: 0px;
        font-weight: 500;
        font-size: 25px;
        padding: 20px 0px;
        text-align: center;
        color: white;
    }

    & .search-section {
        display: flex;
        margin: 0px auto;
        height: 7%;
        width: 88%;
        & .search-input {
            padding-left: 15px;
            width: 90%;
            border-radius: 11px 0px 0px 11px;
            border-width: 0px;
        }

        & .search-button {
            border-radius: 0px 11px 11px 0px;
            border-width: 0px;
            width: 10%;
            background: hsl(0, 0%, 17%);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;


            & .button-icon {
                background-image: url("images/icon-arrow.svg");
                background-repeat: no-repeat;
                width: 11px;
                height: 14px;
            }
        }

        @media (min-width: 900px) {
            max-width: 600px;
        }
    }
    & .info-section {
        min-height: 150px;
        width: 88%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px auto 0px auto;
        border-radius: 20px;
        padding: 20px 0px;
        z-index: 1000;
        position: relative;

        & h3 {
            font-weight: 700;
            color: hsl(0, 0%, 59%);
            font-size: 10px;
            text-align: center;
            text-transform: uppercase;
        }
        & .location-info {
            margin: 8px 0px 10px 0px;
            font-weight: 700;
        }

        @media (min-width: 900px) {
            max-width: 950px;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 35px;
            & h3 {
                text-align: start;
                font-size: 12px;
                margin-top: 0px;
            }

            & .location-info {
                font-size: 20px;
            }
            & .info-col {
                height: 80px;
                width: 20%;
                padding-right: 60px;
                border-right: 1px solid hsl(0, 0%, 59%);
            }
            & .info-col:last-child {
                border-right: none;
            }
        }
    }

    & #map {
        height: 80%; 
        margin-top: -150px;

        @media (min-width: 900px) {
            margin-top: -75px;
        }
    }
}
